<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Tempates</title>
</head>
<body>
    <h1>Employee Data</h1>
    {% if emp_list %}
        <table border="2">
            <thead>
                <th>Employee Number</th>
                <th>Employee Name</th>
                <th>Employee Salary</th>
                <th>Employee Address</th>
            </thead>
            {% for emp in emp_list %}
            <tr>
                <td>{{emp.eno}}</td>
                <td>{{emp.ename}}</td>
                <td>{{emp.esalary}}</td>
                <td>{{emp.eaddress}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No Records Found</p>

    {% endif %}
</body>
</html>